body {
	font-family: Helvetica, sans-serif;
}

.sidenav {
	height: 100%;
	width: 130px;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 10px;
	background: #FFFF00;
	overflow-x: hidden;
	padding: 8px 0;
}
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #2196F3;
	display: block;
}
.sidenav a:hover {
	color: #064579;
}

#home {
	margin-left: 140px;
	font-size: 25px;
	padding: 0px 10px;
}

/*Responsive layout*/
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 15px;}
}

#about {
	background-color: #0000FF;
	margin-left: 140px;
	font-size: 25px;
	padding: 0px 10px;
}
.services {
	background-color: #959595;
}
#thumbnails {
	width: 900px;
	margin: 0 auto 0 auto;
}
#thumbnails ul {
	padding: 50px;
}
#thumbnails ul li {
	list-style-type: none;
	width: 33.3%;
	float: left;
	margin-bottom: 15px;	
}

#thumbnails img {
	width: 180px;
	height: 170px;
	border-radius: 5px;
}

#thumbnails img:hover {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); 
}